@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


.clearfix:after {
    display: block;
    clear: both;
}
.menu {
    width: 2500px;
    margin: 0px auto;
}
.menu li {
    margin: 0px;
    list-style: none;
}
.menu a {
    transition: all linear 0.15s;
    color: #919191;
    text-decoration: none;
}
.menu li:hover > a,
.menu .current-item > a {
    text-decoration: none;
    color: #be5b70;
}
.menu .arrow {
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}
/*----- Top Level -----*/

.menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px;
}
.menu > ul > li > a {
    padding: 10px 40px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.menu > ul > li:hover > a,
.menu > ul > .current-item > a {
    background: #2e2728;
}
/*----- Bottom Level -----*/

.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}
.sub-menu {
    width: 160%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: #2e2728;
}
.sub-menu li {
    display: block;
    font-size: 16px;
}
.sub-menu li a {
    padding: 10px 30px;
    display: block;
}
.sub-menu li a:hover,
.sub-menu .current-item a {
    background: #3e3436;
}
ul.clearfix li:after,
ul.clearfix li:after {
    content: "--------------------";
    letter-spacing: -3px;
}
.box {
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    text-align: center;
    display:inline-block;
}

body{
    text-align:center;
    background: #a9a8c1;
    padding: 15px;
}
#header{
    padding: 1px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0px 5px 5px #888888;
    background: white;
}
#container{
    text-align: left;
    box-shadow: 0px 5px 5px #888888;
    margin-top: 10px;
    background: white;
    font-family: 'Playfair Display', serif;
    overflow:auto;
}
#firstq{
    padding-top: 10px;
}
h1 {
    margin-top: 2%;
}
#btsec{
    padding: 20px;

}
#quilcode{
    background-color: white;
    width:20%;
    box-shadow: 0px 5px 5px #888888;
    float:left;
    padding-left:10px;
    visibility: hidden;
    white-space: pre;
    text-align: left;
}
#qum{
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    margin-bottom: -10px;
}
#result{
    background-color: white;
    width:40%;
    box-shadow: 0px 5px 5px #888888;
    float:right;
    padding-right:10px;
    visibility: hidden;
    white-space: pre-line;
    text-align: center;
}
#py{
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    margin-bottom: -10px;
}
.button-green{
    border: 1px outset green;
    background-color: lightgreen;
    height:50px;
    width:50px;
    cursor:pointer;
}
.button-green:hover {
   background-color: green;
   color:white;
}
.button-red{
    border: 1px outset red;
    background-color: maroon;
    height:50px;
    width:50px;
    cursor:pointer;
}
.button-red:hover {
   background-color: red;
   color:white;
}
.button-orange{
    border: 1px outset orange;
    background-color: lightsalmon;
    height:50px;
    width:50px;
    cursor:pointer;
}
.button-orange:hover {
   background-color: orange;
   color:white;
}
.button-blue{
    border: 1px outset blue;
    background-color: lightblue;
    height:50px;
    width:50px;
    cursor:pointer;
}
.button-blue:hover {
   background-color: blue;
   color:white;
}
